# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
*.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Database files (local dev)
*.sqlite3
*.db

# Logs and debug info
*.log
*.pid
*.gz
*.swp

# VS Code settings
.vscode/

# Uploaded files
uploads/
